body {
    background: url("http://wyxgame-club.stor.appsina.com/attachment/1306/thread/274_2215815283_a6ea041d46c4b37.png") top left;
}
.w700 {
    width: 700px;
}
.active{
    background: #FFF;
    filter: alpha(opacity=20);
    _background-color: #FFF;
    _filter: alpha(opacity=20);
    opacity: 0.2;
    color: #000;
}
.span2 {
    opacity: 0.8;
    filter: alpha(opacity=80);
    _filter: alpha(opacity=80);
}
.wrap {
    margin: 0 auto;
}
.nav{
    background: url("http://wyxgame-club.stor.appsina.com/attachment/1306/thread/274_2215815283_f243de53dfa8087.jpg");
    height: 50px;
    -webkit-border-radius: 0.4em 0.4em 0 0;
    border-radius: 0.4em 0.4em 0 0;
    overflow: visible;
    margin-bottom: 0px;
    color: #E6E6E6;
    line-height: 50px;
}
.nav li a{
    color: #E6E6E6;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
}
.nav li .active{
    color: #000;
}
.nav li a:hover{
    color: #000;
}
.box {
    background: url("http://wyxgame-club.stor.appsina.com/attachment/1306/thread/274_2215815283_f825cfa7a758702.png") top left;
    position: relative;
}
.box .show {
    position: relative;
    padding: 15px 0 15px;
}
.box img{
    display: block;
    margin: 0 auto;
}
.box .author {
    left: 0;
    top: 80px;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.6);
    background: #000\9;
    filter: alpha(opacity=60);
    _background-color: #000;
    _filter: alpha(opacity=60);
    zoom: 1;
    z-index: 2;
    position: absolute;
    color: #E6E6E6;
    font-size: 16px;
}
.box .detail{
    text-align: left;
    font-size: 14px;
    line-height: 2;
    word-break: break-all;
    text-overflow: ellipsis;
    _display: inline;
    padding: 10px;
    background: #fff;
}

.box .action_wrap{
    background-color: rgba(0,0,0,0.6);
    background: #000\9;
    filter: alpha(opacity=60);
    _background-color: #000;
    _filter: alpha(opacity=60);
    height: 30px;
    padding: 5px 10px;
    line-height: 30px;
}
.box .action{
    float: right;
    font-size: 15px;
}
.box .action a{
    color: #E6E6E6;
    cursor: pointer;
}
.line {
    height: 30px;
}

.affix{
    position: fixed;
    _position : absolute;
}
.logo{
    top: 20px;
    left: 15px;
}
