

<script src="http://libs.baidu.com/bootstrap/2.0.4/js/bootstrap.min.js"></script>

<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff7dbfbdd82d14282be9d4a9972c980e1' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
