<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>每日名画 - <%=title%> </title>
<link href="http://libs.baidu.com/bootstrap/2.0.4/css/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/show.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="http://fusion.qq.com/fusion_loader?appid=100665874&platform=<%=qzone.pf%>"> </script>
<script src="http://libs.baidu.com/jquery/1.8.2/jquery.min.js"></script>
</script>
</head>
<body>

