<div class="header navbar-inverse">
    <ul class="nav">
        <li class="span2"><a href="/arts/today" class="<%= title == "今日名画" ? 'active': '' %>">今日名画</a></li>
        <li class="span2"><a href="/arts/history" class="<%= title == "往日名画" ? 'active': '' %>">往日名画</a></li>
        <li class="span2"><a href="/arts/rank" class="<%= title == "收藏排行" ? 'active': '' %>">收藏排行</a></li>
        <li class="span2"><a href="/arts/fav" class="<%= title == "我的收藏" ? 'active': '' %>">我的收藏</a></li>
    </ul>
</div>